{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{deps,[
	
	{boss, ".*" , {git,"git://github.com/evanmiller/ChicagoBoss.git", {tag, "HEAD"}}},
	{cb_admin,    ".*" , {git,"git://github.com/evanmiller/cb_admin.git", {tag, "HEAD"}}},
        {example_chat, ".*",  {git,"git://github.com/rambocoder/example_chat.git",{tag, "HEAD"}}},
        {example_wiki, ".*",  {git,"git://github.com/rambocoder/example_wiki.git",{tag, "HEAD"}}}
]}.
